body{
	background-color: black;
}

#num {
	color: white;
	font-size: 40px;
	top: -100px;
}


#info{
	font-family: arial;
	font-size: 18px;
	width: 900px;
	height:300px;
	margin:auto;
	text-align: center;
	margin-top: 700px;
}


#textbox{

	width: 1000px;
	height: 500px;
	margin-top: -50px;
}

p{
	font-family: arial; 
	font-size: 18px;
}

h1{
	font-family: arial; 
	font-size: 100px;
	margin-top:100px;
}

h2{
	font-family: arial; 
	font-size: 250px;
	margin-top: -50px;
	color: white;
}

h3{
	font-family: arial; 
	font-size: 200px;
	margin-top:-250px;
	color: white;
}

a{
	text-decoration: none;
	font-family: arial; 
	font-size: 300px;
	color: white;
	margin-top: -50px;	

}

a:hover{
	color:  #FFFF00;
}

img{
	width:200px;
	height:100px;
	position: absolute;
	bottom: 50px;
}

#van2{
	width:200px;
	height:100px;
	position: absolute;
	bottom: -300px;
}

#three{
	background-color: white;
}


#yellow{
	background-color:  #FFFF00;
	position: absolute;
	top: 0px;
	left: 0px;
	height:600px;
	width: 100%;
}

#a{
	font-size: 420px;
	position: absolute;
	left:350px;
	top: -45px;
}


#r{
	font-size: 200px;
	position: absolute;
	left:600px;
}


#i{
	font-size: 200px;
	position: absolute;
	left:780px;
}

#l{
	font-size: 200px;
	position: absolute;
	left:780px;
	top: 160px;
}

#TEXT{
	font-size: 40px;
	position: absolute;
	left:830px;
	top: 140px;
}

#TEXT1{
	font-size: 40px;
	position: absolute;
	left:830px;
	top: 200px;
}

#TEXT2 {
	font-size: 40px;
	position: absolute;
	left:830px;
	top: 270px;
}




@font-face {
	font-family: 'Arial';
	src:url('fonts/Arial.woff')

}


